@charset "UTF-8";
/* CSS Document */


/* Imported Fonts */
@font-face {
    font-family: 'gorilabold';
    src: url('gorila_bold-webfont.eot');
    src: url('gorila_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('gorila_bold-webfont.woff') format('woff'),
         url('gorila_bold-webfont.ttf') format('truetype'),
         url('gorila_bold-webfont.svg#gorilabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gorilaregular';
    src: url('gorila-webfont.eot');
    src: url('gorila-webfont.eot?#iefix') format('embedded-opentype'),
         url('gorila-webfont.woff') format('woff'),
         url('gorila-webfont.ttf') format('truetype'),
         url('gorila-webfont.svg#gorilaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'natura_playbold';
    src: url('natura_play_bold-webfont.eot');
    src: url('natura_play_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('natura_play_bold-webfont.woff') format('woff'),
         url('natura_play_bold-webfont.ttf') format('truetype'),
         url('natura_play_bold-webfont.svg#natura_playbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'natura_playitalic';
    src: url('natura_play_italic-webfont.eot');
    src: url('natura_play_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('natura_play_italic-webfont.woff') format('woff'),
         url('natura_play_italic-webfont.ttf') format('truetype'),
         url('natura_play_italic-webfont.svg#natura_playitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'natura_playregular';
    src: url('natura_play_regular-webfont.eot');
    src: url('natura_play_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('natura_play_regular-webfont.woff') format('woff'),
         url('natura_play_regular-webfont.ttf') format('truetype'),
         url('natura_play_regular-webfont.svg#natura_playregular') format('svg');
    font-weight: normal;
    font-style: normal;
}



body {
	margin: 0;
	padding: 0;
	font-weight: normal;
	line-height: 2em;
	font: 1.5em Arial, Helvetica, sans-serif;
	line-height: 1.25em;

}



/* --------------------------------- Font: Sizes, Letter Spacing, and Line Height
*/
h1 {
	font-size: 175%;
	line-height: 0.75em;
	letter-spacing: 0.085em;
}

h2 {
	font-size: 130%;
	line-height: 1em;
}

h3 {
	font-size: 120%;
	line-height: 1.142em;
}

h4 {
	padding-top: 20px;
	font-size: 110%;
	line-height: 1.33em;
	letter-spacing: 0.058em;
	text-transform: uppercase;
}

h5 {
	font-size: 100%;
	line-height: 1.5em;
}

h6 {
	font-size: 90%;
	line-height: 1.714em;
}

b {
	font-size: 110%;
}

em {}

.topSection .profileName {
	float: left; 
	font-family: Georgia, Times New Roman, Times, serif;
	font-family: 'gorilaregular';
	font-size: 175%;
	font-size: 225%;
	font-weight: 200;
	line-height: 0.75em;
	letter-spacing: 0.1055em; 
	text-shadow: #000 1px 1px 1px;
}

.cardTitle {
	font-size: 135%;
	font-style: strong;
	letter-spacing: 1.05px;
}

.cardDescription {
	font-size: 76%;
	letter-spacing: .080em;
}
 .accentContent  {
	font-size: 87%;
	font-weight: 500;
	letter-spacing: 0.0625em;
}

.detailsWrapper, .name {
	font-family: 'natura_playbold';
	font-size: 97%;
	letter-spacing: 0.0697em;
}

.labelFeatured {
	font-size: 36px;
	font-weight: 5-00;
	letter-spacing: .050em;
}

.name {
	letter-spacing: 0.075em;
	color:#ccc;
	
}

.name.location {
	float: right;
	margin-right: 20px;
}

.note {
	font-size: 80%;
	letter-spacing: 0.125em;
}

#footer {
	font-size: 70%;
}









/* --------------------------------- Font: Colors
*/

h4 {
	color: #000;

}

a:link {  		
	color: #ae0101; 		
} 
	
a:hover {  	
	color: #cb0303;
	
} 

a:visited {  	
	color: #ae0101;		
} 

a:active {
	outline: none;
}

.profileName {
	color: #05b8eb;
}

.profileName:hover {
	color: #22d4ff;
}

.topSection {
	color: #f2f2f2;
}

.cardTitle {
	color: #fff;
}

.cardDescription {
	color:  #d7d7d7;
}

.detailsWrapper, .detailsWrapper a {
	color: #aaa;
}

.detailsWrapper a:hover {
	color: #05b8eb;
}

.note {
	color: #888;
}

.sidebarContent {
	color: #333;    
}

#footer, .labelFeatured  {
	color:#aaa;
}

#footer a {
	color: #2d2d2d;
}




/* --------------------------------- Misc
*/

a:link, a:hover, a:visited, a:active { 
	text-decoration: none; 
}


ul {
	margin: 0;
	padding: 0;	
}

ul,li {
	list-style-type: none;
	margin: 0;
}

i {
	color: #a1a0a0;	
}

img { 
	border: none; 
}

.accentContent {
	float: left; 
	margin: 10px 20px 0 0; 
}

.contentHighlighted {
	margin-left: 10px;
	letter-spacing: 0.0725em;
}






/* --------------------------------- Main Container
*/

#containerBody {
	margin: 0 auto;
	width: 768px;
	width: auto;
	-moz-box-shadow:    0 5px 6px #686868;
	-webkit-box-shadow: 0 5px 6px #686868;
	box-shadow:         0 5px 6px #686868;
	overflow: hidden;
	background-color: #d4ab39;
	background-image: url(../images/bgTiledLinesAngledDark.png), url(../images/bgX.png), url(../images/bgsand.jpg);
	background-position: left top;
	background-repeat: repeat, no-repeat, repeat-y;
}



#contentColumn {
	/*margin-left: 310px;*/ /* Set left margin to LeftColumnWidth */
}

#contentWrapper {
	float: left;
	width: 100%;
	width: auto;
}
.containerSubContent {margin-top: -55px;}
.topSection {

	
	height: 115px;
	/*
	width: 100%;
	min-height: 70px;
	*/
	width: auto;
	text-shadow: 1px 1px black;
	/*background-image: url(../images/bgHeader.jpg);*/
	background-color: #1c1c1c;
	border-bottom: solid 1px white;
	border-left: solid 1px #1c1c1c;
	border-right: solid 1px #1c1c1c;
}

.topSection .profileName  {
	margin: 0;
	padding: 7px 0 30px 0;
	line-height: inherit;
	/*background: pink;*/
	clear: both;
}

.name {


	padding: 12px 0 0 40px;
	height: auto;
	width: auto;
	/*margin-right: 80px;
	background: yellow;*/

}

.labelFeatured {
	margin-top: -30px;
	padding-bottom: 10px;
}


.focus {
	padding-top: 5px;
	padding-left: 95px;
}


.rightColumn { padding-left: 2.75%; }


/* --------------------------------- Cards
*/

.cardsWrapper {
	margin: 30px 10px 0 10px;
	padding: 40px; 
	padding-top: 50px;
	/*min-width: 830px;*/
	background-color: #444;
	-moz-box-shadow:    inset 0 0 10px #000000;
	-webkit-box-shadow: inset 0 0 10px #000000;
	box-shadow:         inset 0 0 10px #000000;
	overflow: hidden;

}

.portfolioCardWrapper {
	float: left;
	margin-right: 1.25%;
	margin-left: 1.25%;

	margin-bottom: 50px;
	padding: 5%;
	padding-bottom: 5px;
	min-padding: 15px;
	display: block;
	/*
	width: 331px;
	min-width: 212px;
	max-width: 45%;	
	*/
	min-height: 330px;
	background-color: #2c2c2c;
	border: 1px solid;
	border-radius:         4px;
	-moz-border-radius:    4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	box-shadow: 0px 2px 8px #000;
}

.featuredProject {
	/*
	width: 950px;
	*/
	max-width: 87.15%;
	min-height: 400px;
}
.featuredProject .cardDescription { min-height:1px; }
.featuredProject .cardResponsibilities { padding-bottom: 20px; }




/* --------------------------------- card images
*/

.cardImage, .cardImageLg {
	height: 158px;
	/*
	max-width: 400px;
	*/
	overflow: hidden;
	background: white;
	border: solid 1px black;
}

.cardImageLg {
	margin-top: -25px;
	height: 400px;
	/*
	max-width: 775px;
	*/

}





.imgAMT     { background: url(../images/cardImage_amt.jpg) no-repeat; }
.imgAutoy   { background: url(../images/cardImage_autoy.jpg) no-repeat; }
.imgDandH   { background: url(../images/cardImage_dandh.jpg) no-repeat; }
.imgDotNews { background: url(../images/cardImage_dotNews.jpg) no-repeat; } 
.imgKylo    { background: url(../images/cardImage_kylo.jpg) no-repeat; }
.imgTvami   { background: url(../images/cardImage_tvami.jpg) no-repeat; }
.imgWexford { background: url(../images/cardImage_wcg.jpg) no-repeat; }

.imgAMT, .imgAutoy, .imgDandH, .imgDotNews, .imgKylo, .imgTvami, .imgWexford {
background-size: 100% 100%;
}


/*
.imgApl     { background: url(../images/cardImage_Apl.jpg) no-repeat; }
.imgCroc    { background: url(../images/cardImage_Croc.jpg) no-repeat; }
.imgExtra   { background: url(../images/cardImage_Extra.jpg) no-repeat; }
.imgGenNext { background: url(../images/cardImage_GenNext.jpg) no-repeat; }
.imgHate    { background: url(../images/cardImage_Hate.jpg) no-repeat; }
.imgIraq    { background: url(../images/cardImage_Iraq.jpg) no-repeat; }
.imgNCONN   { background: url(../images/cardImage_NCONN.jpg) no-repeat; }
.imgNuke    { background: url(../images/cardImage_Nuke.jpg) no-repeat; }
*/


    .cardImage {
	max-width: none;
	height: 400px;
	width: 775px;
    }
    /*
    .imgAMT     { background: url(../images/cardImage_amtLg.jpg) no-repeat; }
    .imgAutoy   { background: url(../images/cardImage_autoyLg.jpg) no-repeat; }
    .imgDandH   { background: url(../images/cardImage_dandhLg.jpg) no-repeat; }
    .imgDotNews { background: url(../images/cardImage_dotNewsLg.jpg) no-repeat; } 
    .imgKylo    { background: url(../images/cardImage_kyloLg.jpg) no-repeat; }
    .imgTvami   { background: url(../images/cardImage_tvamiLg.jpg) no-repeat; }
    .imgWexford { background: url(../images/cardImage_wcgLg.jpg) no-repeat; }
*/






.cardImage a, .cardImageLg a {
    display: block;
    height: 400px;
    width: 775px;
}


.cardTitle {
	padding: 30px 0 20px 0;
}

.cardDescription {
	padding-bottom: 15px;
	min-height:50px;  
	border-bottom: solid 1px #000;
}

.cardResponsibilities {
	float: left;
	padding-bottom: 10px;
}

.detailsWrapper {
	padding-top: 15px;
	border-top: solid 1px #444;
	
}

.detailsWrapper img {
	float:left;
	padding: 3px 5px 0  0;
}

.detailsWrapper img.iconBtn {
	float:right;
	padding: 3px 0 0 10px;
}

.insideLink, .outsideLink {
	float: right;
}

.iconDesign:Hover  {
	background-image: url(../images/iconDesignHover.png);
	background-repeat: no-repeat;
	margin-top: 3px;
	/*background-position: left;*/
}

.linkText {
	marin-left: 20px;
	padding-left: 20px;
}



/* Secondary Column */


#leftColumn{
	float: left;
	padding: 50px;
	/*width: 310px; 
	margin-left: -100%;*/
}

.sidebarContent {
	margin-top: -15px;
	
}

.sidebarContent ul li {
	padding: 10px 0;
	border-bottom: dotted 1px #b9b9b9;
}

.sidebarContent ul li:first-child {
	padding-top: 5px;
}

.innertube {
	margin: 0 25px 0 26px; 
}

.headshot { margin-left: 45px; }

/* Footer */

#footer {
	clear: left;
	width: 100%;
	width: auto;
	height: 10px;
	padding: 20px 0;
}



.footerWrapper {
	float: right;
	margin-right: 75px;
	margin-bottom: 15px;
}



/* misc */
.wrap {
	background-color: red;	
}

.change_opacity:hover {   
   opacity: 0.90;
   -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
   filter: alpha(opacity=90);
}


/* misc */



.professionalCompanies img {
	padding-bottom: 10px;
}



.email.sidebarContent ul li {
	padding: 0;
	display: block;
}
/*
.email.sidebarContent ul li:first-child {
	margin-left: 3px;
	padding-right: 15px;

}
*/

.email.sidebarContent ul li {
	display: block;
	margin-bottom: 30px;
	height: 100px;
	/*width: 400px;*/
	width: auto;
}

.email.sidebarContent ul li a {
	display: block;
	height: 100px;
	/*width: 400px;*/
	width: auto;
	background-color: #b40901;
	border: 1px solid #e61003;
	border-radius:         8px;
	-moz-border-radius:    8px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;

}

.btnContact {
	/*text-indent: -9000em;*/
	text-indent: 140px;
	line-height: 100px;
	color: white;
	font-size: 200%;
}

/*   .sidebarContent.email emailRMI a  */

.emailRMI a { background-image: url(../images/btnEmailMobile.png); background-repeat: no-repeat; background-position: 2% 50%, 0% 0%; color: white; }
.emailRMI a:hover { background-color: #ffe062; }

.emailLinkedIn a { background-image: url(../images/btnEmailLinkedInMobile.png); background-repeat: no-repeat; background-position: 2% 50%, 0% 0%; color: white; }
.emailLinkedIn a:hover { background-color: #ffe062; }

















